@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Quicksand:500');

body {
	/* background-color: #D5C2B1 !important; */
	}

div {

	text-align: center;
	
	}

#nav1{
	background-color: #A6D3B4;
	}

h1{font-size: 50px !important;}
h2{font-size: 45px !important;}
h3{font-size: 40px !important;}
h4{font-size: 35px !important;}
h5{font-size: 30px !important;}
h6{font-size: 25px !important;}

h1, h2, h3, h4, h5, h6 {
	
	font-family: 'Fredoka One', cursive !important;
	
	}	
	
	
.MainTheme {
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	border-bottom: 4px solid rgba(0,0,0,0.39);
	padding: 200px;
	}
	
#UpperContent{
	
	background-color: white;
	
	}	
	
#MiddleContent{
	
	background-color: #8BC0D9;
	
	}
	
#BottomContent{
	
	background-color: #D97F80;
	
	}
	
footer{
	background-color: #494949;
	text-align: center;
	color: white;
	padding: 65px;
	}
	

footer > a{ text-decoration: none ; }

footer > a:link{ color: white; }
	
footer > a:hover{ color: #7CECEF; }
	
footer > a:active{ color: #40E2FC; }
	
footer > a:visited{ color: #40E2FC; }


.carousel-control.left {
  background-image: none !important;

}
.carousel-control.right {

  background-image: none !important;

}